    @model Fitness.Entityes.BlogEntity
    <!-- Breadcrumb Section Begin -->
    <section class="blog-single-hero set-bg" data-setbg="img/blog-single-hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7 m-auto text-center">
                    <div class="bs-hero-text">
                        <h2>@Model.BlogName</h2>
                        <ul>
                            <li>@Model.CreaterName</li>
                            <li>@Html.TextBoxFor(m => m.DateCreate, "{0:dd/MM/yyyy}")</li>
                            <li>@Model.Comments</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->