@page "{idBlog}"
@model Fitness.Pages.Blog_Details
@{
    ViewData["Title"] = "Blog_Details";
}

<h1>@ViewData["Title"]</h1>

@Html.Partial("_BreadcrumbBlogSection", Model.Entity)

@Html.Partial("_BlogDetailsSection", Model.Entity)

<partial name="_CTASection" />

<partial name="_FooterSection" />