@page
@model Fitness.Pages.Blog_Details
@{
    ViewData["Title"] = "Blog_Details";
}

<h1>@ViewData["Title"]</h1>

<partial name="_BreadcrumbBlogSection" />

<partial name="_BlogDetailsSection" />

<partial name="_CTASection" />

<partial name="_FooterSection" />