@page
@model Fitness.Pages.Contacts
@{
    ViewData["Title"] = "Contacts";
}

<h1>@ViewData["Title"]</h1>

<partial name="_MapSection" />

<partial name="_ContactSection" />

<partial name="_CTASection" />

<partial name="_FooterSection" />